html, body {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
}

#Nav {
	height: 50px;
	background-color: lightblue;
	text-align: center;
}

#Nav a {
	display: inline-block;
	text-decoration: none;
	
}

.button {
	height: 50px;
	width: 100px;
		

	background-color: gray;

	text-align: center;
	line-height: 50px;
	color: white;	
}

.button:hover {
	background-color: teal;
}

#About {
	height: 50%;
	border-top: 5px solid black;
}

#Formulas {
	/*height: 100%; cuts off text?*/
	border-top: 5px dashed teal;
}

p {
	color: teal;
	text-decoration:bold;
}

#Calc {/*Getting rid of this section for now*/
	height: 0;/*100%;
	border-top: 5px dashed gray;*/
}

#Footer {
	/*height: 300px;
	background-color: teal;
	width: 100%;*/
	/*display: flex;/* only works in certain browsers? */
	font-size: 0;/*gets rid of gaps between divs*/
	background: linear-gradient(teal 50%, lightblue);
	height: 20%;
}

#Footer div {
	display: inline-block;
	height: 100px;	
	width: 20%;
	margin: 0;

	text-align: center;
	font-size: 15px;
	
	border-radius: 0% 0% 60% 60%;
	border-bottom: 5px solid black;
	background-color: white;
}



